@charset "UTF-8";

main{
	width:100vw;
	max-width:100%;
	overflow: hidden;
}

.customPolice{
	font-family: 'Annie Use Your Telescope', cursive;
	font-size: 19pt;
}

.carousel-caption{
	
	top:65%;
	max-height:30%;
	background-color: rgba(52, 58, 64,0.6);
}

.customCarouselItem{
	height:90vh;
}


#carouselStaff{
	min-height:80vh;
}

.sectionHeight{
	min-height:80vh;
}
.cIStaff{
filter: invert(.5) ;
}

.section100{

	max-height:100%;
}

.presentationBG{
	/* background: url('Circus-acrobat.jpg'); */
	background-color: rgba(252, 214, 227,0.6);
	background-attachment: fixed;
}

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}


/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
    flex-direction: row;
}

.carousel-item-active, 
.carousel-item-next, 
.carousel-item-prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {

    display: flex;
}

.carousel-item-left, 
.carousel-item-right {

    display: flex;
}

/* control image height */


#headerPopup{
  width:75%;
  margin:0 auto;
}

#headerPopup iframe{
  width:100%;
  margin:0 auto;
}

.headerPopup{
  width:75%;
  margin:0 auto;
}

.headerPopup iframe{
  width:100%;
  margin:0 auto;
}

.ouahouBg{
	background: url("https://media.istockphoto.com/photos/glitter-lights-abstract-background-silver-and-white-defocused-picture-id1016559520");
	background-attachment: fixed;
	background-size: cover;
}

.bg2{
	
	background: url("https://static.vecteezy.com/system/resources/previews/000/518/391/non_2x/vector-stage-and-presentation-of-product-with-sport-light-on-black-studio-background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: top;
}

.card-img-top{
	height:50%;
	
}

li{
	list-style-type: none;
	
}

.logo{
	width:50%;
	max-width:100px;
}

.logo:hover{
	filter: invert(1);		
}