<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name= "Author" content= "Aymeric">
	<meta name= "Description" content= "Bienvenue sur le site du Wild Circus, un projet final pour s'auto-évaluer après 5 mois passés à la wild code school d'Orléans!">
	<title>Bienvenue sur le site du Wild Circus!</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css">
	<link rel="stylesheet" href="style.css">

</head>