<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Console d'administration">
  <title>Console d'administration</title>
  <meta name="author" content="Aymeric">

  <title>Console d'administration</title>

  <!-- Bootstrap core CSS -->
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="simple-sidebar.css" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Navigation </div>
      <div class="list-group list-group-flush">
      	<a href="/admin" class="list-group-item list-group-item-action bg-light">home</a>
        <a href="/admin/carousel" class="list-group-item list-group-item-action bg-light">Carousel</a>
        <a href="/admin/presentation" class="list-group-item list-group-item-action bg-light">Presentation</a>
        <a href="/admin/equipe" class="list-group-item list-group-item-action bg-light">Equipe</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Spectacles</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Reservations</a>

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-dark bg-light border-bottom">
        <button class="navbar-toggler bg-dark text-light" id="menu-toggle">
			<span class="navbar-toggler-icon"></span>
		</button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>

      <div class="container-fluid">
        <h1 class="mt-4">Bonjour Admin</h1>
        <p> bienvenue sur votre console d'administration, d'ici vous pouvez tout administrer.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate amet iusto error ratione, aperiam itaque aspernatur magni minus aliquam culpa laudantium ut voluptas voluptatum quaerat adipisci similique expedita, nisi magnam!</p>
		<p>Ut eaque facilis sequi ab dolorem impedit eveniet quia cupiditate, laudantium laborum quo assumenda officiis, quis sapiente voluptatem quod eius velit placeat rerum temporibus? Aliquid debitis eveniet maiores amet provident.</p>
		<p>At vel natus corporis, ab provident ad, quibusdam quaerat delectus nemo animi hic, reprehenderit! Iure voluptates consectetur doloremque. Nostrum, sunt totam libero corporis animi earum dicta optio odio blanditiis atque.</p>
		<p>Porro consequatur, at veritatis. Earum laborum natus labore, maiores corrupti tenetur culpa voluptatem tempora atque pariatur doloremque minus ducimus dignissimos. Cupiditate explicabo dolores maiores sit optio, vero amet magnam, voluptate.</p>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
 	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
