<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="/fragments/head.html :: head"></head>
	<body>
		 <nav th:replace="/fragments/navbar.html :: navbar"></nav>		
 		 <header th:replace="/fragments/header.html :: header"></header>
		<main>
		    <div class="container-fluid">	
		        <section class="row p-5 section100">
		          <div class="col-md-7 d-flex flex-column justify-content-center" data-aos="fade-right">
		            <h2 th:text="${presentation.title}">Qui sommes nous?</h2>
		            <p class="lead" th:text=${presentation.description}>Une grande famille, Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		          </div>
		          <div class="col-md-5 d-flex flex-column justify-content-center" data-aos="fade-left">
		            <img class="featurette-image img-fluid mx-auto" th:src="${presentation.picture}" alt="Generic placeholder image">
		          </div>
		        </section>
		
		        <hr class="featurette-divider">
		
		        <div th:replace="/fragments/staff :: staff"></div>
		
		        <hr class="featurette-divider">
		
		        <div class="row featurette mb-5 mt-2 justify-content-around align-items-center">
		          <div class="col-md-4">
		            <h2 class="featurette-heading p-2">Rechercher un spectacle. <span class="text-muted">Pres de chez vous</span></h2>
				  </div>
				  <div class ="col-md-6">	
					<form th:replace="/fragments/searchForm :: SearchForSpectacle"></form>
		          </div>
		         </div>
		
		        <hr class="featurette-divider">
		        
		        <div class="row featurette mb-5 mt-2">
		          <div class="col-md-10">
		            <h2 class="featurette-heading p-2">Résultats de votre recherche</h2>
					<div th:replace="/fragments/results :: result"></div>
		         </div>
		        </div>
		          
		
		        <hr class="featurette-divider">		
		        
		        <div class="row featurette mb-5 mt-2">
		          <div class="col-md-10">
		            <h2 class="featurette-heading p-2">Formulaire de réservation</h2>
					<div th:replace="/fragments/reservationForm :: reservation"></div>
		         </div>
		        </div>
		          
		
		      </div><!-- /.container -->
		</main>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		  <script>
		    AOS.init();
		  </script>
	</body>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>

	<script src="video.js"></script>
	
</html>