<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="/fragments/head.html :: head"></head>
	<body>
		 <nav th:replace="/fragments/navbar.html :: navbar"></nav>		
 		 <header th:replace="/fragments/header.html :: header"></header>
		<main>
		    <div class="container-fluid">	
		        <section class="row p-5 sectionHeight">
		          <div class="col-md-7 d-flex flex-column justify-content-center" data-aos="fade-right">
		            <h2 th:text="${presentation.title}">Qui sommes nous?</h2>
		            <p class="lead" th:text=${presentation.description}>Une grande famille, Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		          </div>
		          <div class="col-md-5 d-flex flex-column justify-content-center" data-aos="fade-left">
		            <img class="featurette-image img-fluid mx-auto" th:src="${presentation.picture}" alt="Generic placeholder image">
		          </div>
		        </section>
		
		
		        <div th:replace="/fragments/staff :: staff"></div>
		
		
		        <div class="row featurette mb-5 mt-2 justify-content-around align-items-center sectionHeight " data-aos="fade-right" >
		          <div class="col-md-4">
		            <h2 class="featurette-heading p-2">Rechercher un spectacle. <span class="text-muted">Pres de chez vous</span></h2>
				  </div>
				  
				  <div class ="col-md-6" >	
					<form th:replace="/fragments/searchForm :: SearchForSpectacle"></form>
		          </div>
		         </div>
		
		        
		        
		        <div th:if="${prestationsResult} != null" class="row featurette mb-5 mt-2 justify-content-around align-items-center flex-column sectionHeight bg2" data-aos="fade-top">
		          <div class="col-md-4 align-self-left mr-auto">
		            <h2 class="featurette-heading p-2 text-light" id="Recherche"  th:text="|Résultats de votre recherche (${prestationsResult.size()})|"></h2>					
		         </div>
		         <div th:replace="/fragments/results :: result"></div>
		        </div>

		          
		<div class="modal fade"  th:each="prestation : ${prestationsResult}" th:id="${prestation.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" th:id="|exampleModalLabel${prestation.id}|" th:text="|Réserver ses places pour: ${prestation.city}|">Réserver ses places</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<form method="post" action="|/postReservation|">
				<input type="hidden" name="prestationId" th:value="${prestation.id}">
			  <div class="form-group row">
			    <label for="inputFName" class="col-sm-2 col-form-label">Prénom</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="firtName" id="inputFName" placeholder="Jean-Michel" required>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="inputLName" class="col-sm-2 col-form-label">Nom</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="lastName" id="inputLName" placeholder="Le meilleur de la Wild" required>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="inputMail" class="col-sm-2 col-form-label">Email</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" name="email" id="inputMail" placeholder="jm-leMeilleurDeLaWild@Wild.com" required>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="inputPlaces" class="col-sm-5 col-form-label">Nombre de places</label>
			    <div class="col-sm-5">
			      <input type="number" class="form-control" name="places" id="inputPlaces" required>
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-10">
			      <button type="submit" class="btn btn-primary">réserver</button>
			    </div>
			  </div>
			</form>
	      </div>     
	    </div>
	  </div>
	</div>
		      </div><!-- /.container -->
		</main>
		<div class="container">
  <div class="content"></div>
  <footer class="row">
    <div class="sozial col-12 col-sm-6 col-sm-push-6">
      <ul class="row">
        <li class="col-6 col-sm-2 mt-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
          </a>
        </li>
        <li class="col-6 col-sm-2 mt-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
          </a>
        </li>
        <li class="col-6 col-sm-2 mt-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
          </a>
        </li>
        <li class="col-6 col-sm-2 mt-2">
          <a href="#">
            <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
          </a>
        </li>
      </ul>
    </div>
    
    <div class="copyright col-12 col-sm-3 text-center text-sm-left">
      <p> &copy; Made by Me ;)</p>
    </div>
    
    <div class="impressum col-12 col-sm-3 text-center text-sm-left">
      <p> C'est de toute beauté </p>
      <p> Wild Code School Orléans</p>
    </div>
  </footer>
</div>
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		  <script>
		    AOS.init();
		  </script>
	
	</body>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>

	<script src="video.js"></script>
	
</html>